
<h1 class="heading">My store</h1>
<div class="product">
    <p class="paragraph" [style.color]="textColor">HP pavilion</p>
    <p class="paragraph">core i5, 11th gen</p>
    <button class="buy" (click)="buyNow('HP pavilion')">Buy Now</button>
</div>
<div class="product">
    <p class="paragraph" [style.color]="textColor">Dell</p>
    <p class="paragraph">core i3, 10th gen</p>
    <button class="buy" (click)="buyNow('Dell')">Buy Now</button>
</div>
<div class="product">
    <p class="paragraph" [style.color]="textColor">Acer</p>
    <p class="paragraph">core i7, 11th gen</p>
    <button class="buy" (click)="buyNow('Acer')">Buy Now</button>
</div>